@model IEnumerable<Raunstrup.UI.Models.ProjectItemViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>ProjectItems</h1>

<p>
    <!--<a asp-action="Create">Opret Ny</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Antal
            </th>
            <th>
                Pris
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Slet Item Fra Project Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>
