@model Raunstrup.UI.Models.CECustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Opret ny kunde</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Navn</label>
                <input id="input_name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adresse</label>
                <input id="input_address" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Telefon</label>
                <input id="input_phone" asp-for="Phone" class="form-control" />
                <span id="input_phone_validation" asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input id="input_email" asp-for="Email" class="form-control" />
                <span id="input_email_validation" asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SelectedCustomerDiscountViewModel" class="control-label">Vælg kundetype</label>
                <br />
                <select id="mySelect" asp-for="SelectedCustomerDiscountViewModel" asp-items="@(new SelectList(Model.CustomerDiscountTypeViewModels, "Id", "Name"))">
                   

                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" checked hidden />
                </label>
            </div>

            <div class="form-group">
                <input id="customer_submit" type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
