@model ErrorViewModel
@{
    ViewData["Title"] = "Fejl";
}

<h3 class="text-danger">Der opstod en fejl, prøv venligst igen. Hvis problemet fortsætter så kontakt venligst din systemadministrator.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Fejl:</strong> <code>@Model.RequestId</code>
    </p>
}

<button class="btn btn-primary" onclick="goBack()">Tilbage</button>

<script>
function goBack() {
  window.history.back();
}
</script>