@model Raunstrup.UI.Models.ProjectViewModel

@{
    ViewData["Title"] = "Opret projekt";
}

<h1>Opret Projekt</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"> Start Dato</label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Slut Dato</label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Pris</label>
                <input asp-for="Price" data-val="false" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESTdriving" class="control-label">Estimeret Kørsel</label>
                <input asp-for="ESTdriving" class="form-control" />
                <span asp-validation-for="ESTdriving" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivelse</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
                <input hidden checked class="form-check-input" asp-for="Active" />
                
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFixedPrice" /> <label asp-for="IsFixedPrice" class="control-label">Fast Pris</label>
                </label>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label" hidden>
                    <input class="form-check-input" asp-for="IsAccepted" /> <label asp-for="IsAccepted" class="control-label" hidden>Accepteret</label>
                </label>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label" hidden>
                    <input class="form-check-input" asp-for="IsDone" /> <label asp-for="IsDone" class="control-label" hidden>Færdig</label>
                </label>
            </div>

            <div class="form-group">
                <input id="project_submit" type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til Projekt Listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
