@model Raunstrup.UI.Models.ContactViewModel
@*@{
        ViewData["Title"] = "Privacy Policy";
    }*@

<h1>@ViewData["Title"]</h1>

<h1>Kontakt os</h1>
<br />

<section style="width:40%;">

    <form asp-action="CreateEmail">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <article class="row">

            <!-- Your Name -->
            <div class="col-md-6">

                <p class="md-form mb-0">
                    <label asp-for="Name" class="">Dit Navn</label>
                    <input asp-for="Name" type="text" id="contact-name" class="form-control" placeholder="Hans" >
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>

            </div>
            <!-- Your Name -->
            <!-- Your Phone -->
            <div class="col-md-6">

                <p class="md-form mb-0">
                    <label asp-for="Phone">Tlf. Nr.</label>
                    <input asp-for="Phone" type="text" class="form-control" placeholder="88888888">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </p>

            </div>
            <!-- Your Phone -->

        </article>

        <article>

            <!--Your Adress-->
            <p>
                <label asp-for="Adress">Adresse</label>
                <input asp-for="Adress" type="text" class="form-control" placeholder="Borge Gade 258b, 6000 kolding">
                <span asp-validation-for="Adress" class="text-danger"></span>
            </p>
            <!--Your Adress-->
            <!--Your Email-->
            <p>
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="text" class="form-control" placeholder="Exempel@hotmail.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </p>
            <!--Your Email-->
            <!--Your Subject-->
            <p>
                <label asp-for="Subject">Emne</label>
                <input asp-for="Subject" type="text" class="form-control" placeholder="Tag">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </p>
            <!--Your Subject-->
            <!--Your Message-->
            <p>
                <label asp-for="Message">Meddelse</label>
                <textarea asp-for="Message" class="form-control md-textarea" rows="8" placeholder="Jeg vil gerne have lavet tag"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </p>
            <!--Your Message-->
            <!--Send Button-->
            <p>
                <button type="submit" class="btn btn-primary">Send</button>
            </p>
            <!--Send Button-->


        </article>

    </form>

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}