@model EmployeeViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <section>

        <article class="text-center">
            <h1 class="display-4">Welcome</h1>


            @*Udkommenteret fordi det fucker up, hvis man er logget ind som admin -Peder*@


            @*@if (Model != null)
            {
                <a>@Model.Name</a>
            }*@

            @*@User.Identity.Name.Split('@')[0]*@

        </article>

    </section>
    
