@model EmployeeViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <header>

        <article class="text-center">
            <h1 class="display-4">Welcome</h1>

        </article>

    </header>
    

    <section>

        <article id="car" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#car" data-slide-to="0" class="active"></li>
                <li data-target="#car" data-slide-to="1"></li>
                <li data-target="#car" data-slide-to="2"></li>
                <li data-target="#car" data-slide-to="3"></li>

            </ol>

            <figure class="carousel-inner">
                <div class="carousel-item active"> <img src="Image\Billede6.jpg" class="w-100"> </div>
                <div class="carousel-item"> <img src="Image\Billede3.jpg" class="w-100"> </div>
                <div class="carousel-item"> <img src="Image\Billede7.jpg" class="w-100"> </div>
                <div class="carousel-item"> <img src="Image\Billede8.jpg" class="w-100"> </div>
                <div class="carousel-item"> <img src="Image\Billede9.jpg" class="w-100"> </div>


            </figure>

            <a href="#car" data-slide="prev" class="carousel-control-prev"> <span class="carousel-control-prev-icon"></span> </a>
            <a href="#car" data-slide="next" class="carousel-control-next"> <span class="carousel-control-next-icon"></span> </a>

        </article>

    </section>
