@model EmployeeViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <section>

        <article class="text-center">
            <h1 class="display-4">Welcome</h1>


        

        </article>

    </section>
    
