@*@{
    ViewData["Title"] = "Privacy Policy";
}*@
<h1>@ViewData["Title"]</h1>



<h1>Kontaks Os</h1>
<br />

<section>

    <form>

        <article class="row">

            <!-- Your Name -->
            <div class="col-md-6">

                <p class="md-form mb-0">
                    <label for="contact-name" class="">Dit Navn</label>
                    <input type="text" id="contact-name" class="form-control" placeholder="Hans">
                </p>

            </div>
            <!-- Your Name -->

            <!-- Your Email -->
            <div class="col-md-6">

                <p class="md-form mb-0">
                    <label for="contact-email">Din Email</label>
                    <input type="text" id="contact-email" class="form-control" placeholder="Exempel@hotmail.com">
                </p>

            </div>
            <!-- Your Email -->

        </article>

        <article>

            <!--Your Subject-->
            <label for="emne">Emne</label>
            <p>
                <input type="text" id="emne" name="emne" placeholder="Tag" class="form-control">
            </p>
            <!--Your Subject-->

            <!--Your Message-->
            <label for="contact-message">Meddelse</label>
            <p>
                <textarea id="contact-message" placeholder="Jeg vil gerne have lavet tag" class="form-control md-textarea" rows="8"></textarea>
            </p>
            <!--Your Message-->

            <!--Send Button-->
            <p>
                <button type="button" class="btn btn-primary">Send</button>
            </p>
            <!--Send Button-->

        </article>

    </form>

</section>